[submodule "bundle/LeaderF"]
	path = bundle/LeaderF
	url = git@github.com:Yggdroot/LeaderF.git
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
