[submodule "bundle/LeaderF"]
	path = bundle/LeaderF
	url = git@github.com:Yggdroot/LeaderF.git
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/vim-nerdtree-syntax-highlight"]
	path = bundle/vim-nerdtree-syntax-highlight
	url = git@github.com:tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/onedark.vim"]
	path = bundle/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
[submodule "bundle/asyncrun.vim"]
	path = bundle/asyncrun.vim
	url = git@github.com:skywind3000/asyncrun.vim.git
[submodule "bundle/vim-sync"]
	path = bundle/vim-sync
	url = git@github.com:eshion/vim-sync.git
[submodule "bundle/vim-atom-dark"]
	path = bundle/vim-atom-dark
	url = git@github.com:gosukiwi/vim-atom-dark.git
[submodule "bundle/ayu-theme"]
	path = bundle/ayu-theme
	url = git@github.com:ayu-theme/ayu-vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = git@github.com:luochen1990/rainbow.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "bundle/vim-which-key"]
	path = bundle/vim-which-key
	url = git@github.com:liuchengxu/vim-which-key.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:preservim/nerdcommenter.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/vim-floaterm"]
	path = bundle/vim-floaterm
	url = git@github.com:voldikss/vim-floaterm.git
[submodule "bundle/vim-qf-preview"]
	path = bundle/vim-qf-preview
	url = git@github.com:bfrg/vim-qf-preview.git
[submodule "bundle/php-getter-setter.vim"]
	path = bundle/php-getter-setter.vim
	url = git@github.com:docteurklein/php-getter-setter.vim.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "bundle/vim-move"]
	path = bundle/vim-move
	url = git@github.com:matze/vim-move.git
[submodule "bundle/gv.vim"]
	path = bundle/gv.vim
	url = git@github.com:junegunn/gv.vim.git
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim-zenroom2"]
	path = vim-zenroom2
	url = https://github.com/amix/vim-zenroom2.git
[submodule "bundle/vim-colorscheme-manager"]
	path = bundle/vim-colorscheme-manager
	url = https://github.com/Taverius/vim-colorscheme-manager.git
[submodule "bundle/vim-colorscheme-switcher"]
	path = bundle/vim-colorscheme-switcher
	url = https://github.com/xolox/vim-colorscheme-switcher.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/color-jummidark"]
	path = bundle/color-jummidark
	url = https://github.com/jcherven/jummidark.vim.git
[submodule "bundle/colors-xcode"]
	path = bundle/colors-xcode
	url = https://github.com/arzg/vim-colors-xcode.git
[submodule "bundle/colors-jummidark"]
	path = bundle/colors-jummidark
	url = https://github.com/jcherven/jummidark.vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
